<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/logo.png" style="max-width: 80%">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/top-image-2.png" alt="" />
    <ion-card-header>
      <ion-card-title>Nuestro Equipo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Somos un equipo multidisciplinario que en conjunto consolidamos nuestro trabajo para un bIen común, el
        crecimiento sostenido en el tiempo.</p>

      <ion-row>
        <ion-col size="4">
          <img src="assets/christian.jpg">
        </ion-col>
        <ion-col size="4">
          <img src="assets/alvaro.jpg">
        </ion-col>
        <ion-col size="4">
          <img src="assets/rodrigo.jpg">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>