<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/logo.png" style="max-width: 80%">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/top-image-1.png" alt="" />
      <ion-card-header>
        <ion-card-title>Quiénes Somos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Somos una agencia virtual orientada a la publicidad, diseño gráfico, hosting y desarrollo web, dirigida en apoyar el crecimiento de pequeñas y medianas empresas, desde su fase inicial como imagen corporativa, hasta la consolidación de la misma.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Servicios</ion-label>
      </ion-list-header>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
        <ion-label>Sitios Web</ion-label>
      </ion-item>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="cloud-upload"></ion-icon>
        <ion-label>Hosting</ion-label>
      </ion-item>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="brush"></ion-icon>
        <ion-label>Diseño Gráfico</ion-label>
      </ion-item>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
        <ion-label>Publicidad</ion-label>
      </ion-item>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="logo-rss"></ion-icon>
        <ion-label>Redes Sociales</ion-label>
      </ion-item>
      <ion-item href="https://www.kanoa.cl/servicios">
        <ion-icon slot="start" color="medium" name="thumbs-up"></ion-icon>
        <ion-label>SEO</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
